<!-- <svg>
  <g id="canvas">
    <g id="art" />
    <g id="labels" />
  </g>
</svg>

<div class="pie-chart-container">
  <svg>
    <g id="canvas">
      <g id="art" />
      <g id="labels" />
    </g>
  </svg>
</div> 

 var chart = d3
      .select(this.container.nativeElement)
      .select('.pie-chart-container');
    var svg = chart.append('svg');
    var  canvas = svg.append(g).attr('class','canvas');
    var  art = canvas.append(g).attr('class','art');
    var labels = canvas.append(g).attr('class','labels');


-->

<div class="pie-chart-container">
  <!-- <svg>
    <g class="canvas">
      <g class="art" />
      <g class="labels" />
    </g>
  </svg> -->
</div>